body {
font-family: Arial, sans-serif;
background-color: #35F357;
}

header {background-color: #6B20FD;
    color: #35F357;
    padding: 10px 20px;
    text-align: center;
}

h2 {
    color: #ada9a9;
}
